.container{
  margin:0 175px;
  padding: 1rem 0;
  
}

.section-container{
  margin-top: 4rem;
  background-color: #ffffff;
  padding: 2.5rem;
  border-radius: 20px;
}

textarea{
  width: 100%;
  height: 25rem;
  border: 1px solid #ced4da;
  border-radius: 1rem;
  /* border: none; */
  
}

.btn-convert{
  background-color: #5095f8;
  border: 1px solid #5095f8;
  color: white;
  padding: 0.5rem;
  width: 20rem;
  border-radius: 1rem;
  font-size: 0.9rem;
}

.audio-container{
  position: fixed;
  bottom: 0;
  width:100%;
  background: #ffffff;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.audio-button{
  font-size: 45px;
  border: transparent;
  background: transparent;
}

.audio-button:disabled{
  opacity: 0.5;
}

.icons-btn{
  color: #5095f8;

}

.progress-container{
  width: 100%;
  background-color: #ccc;
  height: 8px;
  margin: 0 0 10px;
}

.progress-bar{
  background-color: #007bff;
  height: 100%;
  width: 0;
  
}